@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

input, textarea {
    border: 1px solid rgb(103, 107, 138);
    margin-bottom: 10px;
    padding: 10px 20px;
    border-radius: 10px;
}
